:root {

    /**
     * colors
     */
  
    --imperial-red_12: hsla(357, 86%, 57%, 0.12);
    --pacific-blue_12: hsla(188, 78%, 41%, 0.12);
    --davys-gray_12: hsla(210, 9%, 31%, 0.12);
    --imperial-red: hsl(357, 86%, 57%);
    --sonic-sliver: hsl(0, 0%, 47%);
    --pacific-blue: hsl(188, 78%, 41%);
    --blue-ryb_12: hsla(220, 100%, 50%, 0.12);
    --space-cadet: hsl(220, 41%, 20%);
    --eerie-black: hsl(214, 10%, 13%);
    --davys-gray: hsl(210, 9%, 31%);
    --emerald_12: hsla(144, 62%, 53%, 0.12);
    --cool-gray: hsl(225, 11%, 59%);
    --cultured: hsl(225, 20%, 96%);
    --blue-ryb: hsl(220, 100%, 50%);
    --black_08: hsla(0, 0%, 0%, 0.06);
    --black_12: hsla(0, 0%, 0%, 0.12);
    --coral_12: hsla(15, 100%, 65%, 0.12);
    --sunglow: hsl(44, 100%, 61%);
    --emerald: hsl(144, 62%, 53%);
    --onyx-2: hsl(210, 10%, 23%);
    --coral: hsl(15, 100%, 65%);
    --white: hsl(0, 0%, 100%);
    --onyx: hsl(207, 8%, 21%);
  
    /**
     * typography
     */
  
    --ff-vietnam: "Be Vietnam Pro", sans-serif;
  
    --fs-1: 1.563rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 1.078rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.844rem;
    --fs-9: 0.813rem;
    --fs-10: 0.769rem;
  
    --fw-500: 500;
    --fw-600: 600;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
   --cubic-in: cubic-bezier(0.5, 0, 0.50, 0.95);
  
    /**
     * radius
     */
  
    --radius-6: 6px;
  
    /**
     * shadow
     */
  
    --shadow-1: 0 12px 20px hsla(210, 10%, 23%, 0.07);
    --shadow-2: 0 2px 10px hsla(0, 0%, 0%, 0.04);
    --shadow-3: 0 2px 20px var(--black_08);
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
li { list-style: none; }
  
a { text-decoration: none; }
  
a,
img,
span,
data,
time,
input,
button,
span.icon { display: block; }
  
button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}
  
html {
    font-family: var(--ff-vietnam);
    scroll-behavior: smooth;
}
  
body {
    padding-block-start: 72px;
    background: var(--cultured);
}
  
:focus-visible {
    outline: 2px solid var(--onyx);
    outline-offset: 1px;
}
  
::-webkit-scrollbar { width: 10px; }
  
::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }
  
::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }
  
::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

.icon-box{
    font-variation-settings: 'wght' 300;
    color: var(--eerie-black);
    font-weight: var(--fw-500);
}

/* HEADER STYLE */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-block: 10px;
    box-shadow: var(--shadow-3);
    z-index: 10;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    align-items: center;
}

.title{
    font-size: var(--fs-1);
    font-weight: var(--fw-600);
    color: var(--space-cadet);
}

.link{
    font-size: var(--fs-4);
    color: var(--eerie-black);
    font-weight: var(--fw-500);
}

.navegation{
    display: flex;
    width: 100%;
}

.access{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-inline: auto;
}

.access > li{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.profile-card{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 15px;
    border-radius: var(--radius-6);
}

.text-info{
    color: var(--onyx);
    margin-bottom: 2px;
    font-size: var(--fs-7);
}

.text-info_title{
    font-weight: var(--fw-600);
}

.text-info_role{
    color: var(--cool-gray);
    font-weight: var(--fw-600);
    font-size: var(--fs-9);
}

/* MAIN SECTION */
.card{ 
    position: relative;
    padding: 24px;
    border-radius: var(--radius-6);
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    height: fit-content;
}

.container{
    max-width: 1150px;
    margin-inline: auto;
}

.container.content{
    padding: 35px 14px;
}

.content{
    padding-block: 35px;
}

.content__title{
    font-weight: var(--fw-600);
    color: var(--onyx);
    font-size: var(--fs-3);
    margin-bottom: 10px;
}

.content__subtitle{
    color: var(--davys-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    margin-bottom: 25px;
}

.two-cards{
    display: grid;
    grid-template-columns: 1fr;
}

.home{
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 25px;
}

.principal-data{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.encabezado{
    color: var(--onyx);
    font-weight: var(--fw-600);
    margin-bottom: 5px;
}

.micro-text{
    font-size: var(--fs-7);
    color: var(--cool-gray);
}

.secundary-data{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.secundary-data > label {
    display: flex;
    column-gap: 5px;
}

.secundary-data > label > span{
    font-size: var(--fs-3);
    color: var(--cool-gray);
}

.mail, .phone-number{
    /*font-weight: var(--fw-600);*/
    color: var(--cool-gray);
    font-size: var(--fs-7);
    display: flex;
    align-items: center;
}

.project{
    display: flex;
    align-items: center;
    gap: 25px;
}

.project > span{
    background-color: var(--emerald_12);
    color: var(--emerald);
    padding: 10px;
    border-radius: var(--radius-6);
}

.project-status > h3{
    color: var(--onyx-2);
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
}

.project-status > p{
    color: var(--cool-gray);
    font-size: var(--fs-6);
}

.up{
	position: fixed;
	bottom: 10px;
	right: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: var(--cultured);
}

.up__files{
	display: flex;

	cursor: pointer;
	font-size: 30px;

	padding: 12px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.up__files:hover{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#up__input{
	overflow: hidden;
	width: 0.1px;
	height: 0.1px;
}

.main-content{
    margin-inline: auto;
    width: 1100px;
    padding: 50px;
}

.micro-card{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pdf-title{
    margin-top: 25px;
    margin-inline: auto;
    font-size: var(--fs-1);
    font-weight: var(--fw-500);
}

.pdf-subtitle{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
}

.anexos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 50px;
}

.card{
    box-shadow: 2px 5px 5px 3px lightgrey;
    border-radius: var(--radius-6);
}